In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
url="https://www.worldometers.info/world-population/population-by-country/"
response=requests.get(url)
soup=BeautifulSoup(response.text,"html.parser")

In [4]:
rows=soup.find("table",{"id":"example2"}).find("tbody").find_all("tr")

print(len(rows))

235

In [9]:
countries_list=[]
for row in rows:
    dic={}
    dic["Country"]=row.find_all("td")[1].text
    dic["Population 2020"]=row.find_all("td")[2].text.replace(",","")
    
    countries_list.append(dic)
print(countries_list[1])

{'Country': 'India', 'Population 2020': '1380004385'}

In [10]:
df=pd.DataFrame(countries_list)
df.head()

         Country Population 2020
0          China      1439323776
1          India      1380004385
2  United States       331002651
3      Indonesia       273523615
4       Pakistan       220892340

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235 entries, 0 to 234
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country          235 non-null    object
 1   Population 2020  235 non-null    object
dtypes: object(2)
memory usage: 3.8+ KB

In [13]:
df.to_excel("countries_population.xlsx")